.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-body {
  max-width: 750px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-container {
  display: flex;
  align-items: center;
  margin-left: 21px;
}

.slider-text {
  margin-left: 12px;
  margin-bottom: 3px;
  margin-right: 3px;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #585858;
  transition: 0.4s;
  border-radius: 25px;
  margin-bottom: 4px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: white;
  transition: 0.4s;
}

.switch input:checked+.slider {
  background-color: #6b4ad5;
}

.switch input:checked+.slider:before {
  transform: translateX(1.8em);
}

.butoni {
  width: 140px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px #6b4ad5;
  outline: none;
  margin-right: 5%;
}

.butoni {
  background-color: #6b4ad5;
  border: none;
}

.butoni:before {
  height: 0%;
  width: 2px;
}

.butoni {
  display: inline-block;
  border: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo-container {
  max-width: 750px;
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image {
  width: 45%;
  height: 300px;
  object-fit: cover;
  margin-right: 16px;
  margin-bottom: 16px;
}

.slider-text {
  font-size: 20px;
}

.grayscale img {
  filter: grayscale(100%);
}

h1 {
  margin-left: 20px;
}

.photo-container {
  position: relative;
}

.text-block {
  position: absolute;
  right: 20px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding-left: 20px;
  margin-right: 17px;
  width: 42.4%;
  margin-bottom: 128px;
  margin-top: 633px;
  z-index: 1; 
  }

.text-block2 {
  position: absolute; 
  right: 374px;
  background-color: rgba(0,0,0,0.5);
  color: rgb(255, 255, 255);
  padding-left: 20px;
  margin-right: 17px;
  width: 42.4%;
  margin-bottom: 128px;
}

.text-block3 {
  position: absolute; 
  right: 20px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding-left: 20px;
  margin-right: 17px;
  width: 42.4%;
  margin-bottom: 128px;
}

.text-block4 {
  position: absolute; 
  right: 374px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding-left: 20px;
  margin-right: 17px;
  width: 42.4%;
  margin-top: 505px;
}
a {
  color: white;
}
